.blogs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    .single-blog {
        border: 1px solid grey;
        border-radius: 3px;
        padding: 10px;
        margin: 0 10px;
        max-width: 400px;
        text-align: left;
        .title {
            font-size: 18px;
            font-weight: 600;
        }
        .content {
            padding: 10px 0;
        }
    }
}
.blog-detail{
    .title{
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 10px;
    }
}
